*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    /* text-align: center; */
}

body{
    background-color: #2D9596;
    text-align: center;
}

h3{
    margin-top: 3rem;
}

.container{
    background-color: azure;
    border-radius: 0.7rem;
    box-shadow: 2px 2px 28px 2px rgba(17, 17, 17, 0.5);
    padding: 2rem 0rem;
    width: 55%;
    margin: 0 auto;
    margin-top: 3rem;
}

.playerOptions{
    display: flex;
    justify-content: space-evenly;
}

.playerOption img{
    width: 40%;
}

button{
    display: none;
    margin-top: 2rem;
    border-radius: 0.5rem;
    padding: 10px;
    font-size: 16px;
    background-color: #222831;
    color: white;
}

button:hover{
    background-color: #31363F;
    box-shadow: 2px 2px 28px 2px rgba(17, 17, 17, 0.3);;
}

#gameName{
    font-weight: bold;
    font-size: 34px;
    margin-top: 30px;
}

#gameResult{
    font-weight: bold;
    font-size: 31px;
    margin-top: 2%;
}

h5{
    font-size: 18px;
}

#chooseMove{
    margin: 1rem 0;
    font-size: 18px;
}

#score{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1rem;
}

.playerOptions{
    display: flex;
    padding: 0 5rem;
    width: 80%;
}

.currentChoices {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    font-size: 16px;
    font-weight: 500;
}

.playerOption img {
    border: 2px solid; 
    transition: border-color 0.3s ease;
    padding: 0rem 1.5rem;
}

.playerOption:hover img {
    border-color: #d33636; 
    box-shadow: 2px 2px 28px 2px rgba(17, 17, 17, 0.3);;
}
/* for smaller screens */
@media (max-width: 711px){
    .container {
        width: 70%;
    }

    .choiceDisplay, .playerOptions, .scoreDisplay{
        flex-direction: column; 
        gap: 10px;
        align-items: center;
    }

    .playerOptions{
        /* text-align: center; */
        width: fit-content;
    }

    .playerOption {
        font-size: 18px;
        padding: 2px;
        /* width: 50%; */
        width: fit-content;
    }
}
